* {
    margin: 0;
    padding: 0;
}

.section-one {
    height: 79.5vh;
    background-color: rgb(134, 80, 156);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    height: 147px;
    position: absolute;
    width: 100%;
}

.navbar__item {
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar__item:hover {
    background-color: rgb(131, 0, 131);
}

.navbar__logo {
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Lobster', cursive;
}

.section-one article {
    height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.section-one h2 {
    width: 930px;
    text-align: center;
    margin-bottom: 60px;
    font-size: 2.6rem;
}

.section-one .btn {
    padding: 25px 107px;
    background-color: rgb(235, 125, 74);
    color: #fff;
    border: 3px solid rgb(212, 114, 78);
    border-radius: 4%;
}

@media screen and (max-width: 680px) {

    .section-one {
        height: 79.5vh;
        background-color: rgb(134, 80, 156);
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
    }

    .section-one h2 {
        width: 500px;
        text-align: center;
        margin-bottom: 60px;
        font-size: 2.2rem;
        line-height: 3.2rem;
    }

    .section-one .btn {
        padding: 20px 175px;
        margin-top: -20px;
    }

    .navbar__list {
        display: none;
    }

    .navbar__logo {
        font-size: 2.6rem;
    }

    .navbar {
        height: 140px;
    }
 
}




/* ==== section two ==== */
/* ==== section two ==== */
/* ==== section two ==== */


.section-two {
    min-height: 88vh;
    background-color: rgb(23, 193, 164);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

.section-two__title {
    text-transform: uppercase;
    margin: 105px 0px 30px 0px;
    position: relative;
    font-size: 2.2rem;
}

.section-two__discription {
    max-width: 600px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}

.section-two__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.section-two__item {
    margin: 50px;
} 

.card__name2 {
    text-transform: uppercase;
    color: white;
}

.card__discription2 {
    margin: 25px 0px;
    text-align: center;
}

.section-two__title:after {
    content: '';
    position: absolute;
    border-bottom: 5px solid rgb(17, 168, 142);
    width: 70px;
    bottom: -10px;
    left: calc(50% - 35px);
}

.images {
    height: 120px;
    width: 120px;
    margin-bottom: 50px;
}

@media screen and (max-width: 680px) {

    .section-two__list {
        grid-template-columns: 1fr;
    }

    .section-two__discription {
        max-width: 480px;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    .section-two__item {
        margin: 15px;
    } 

    .images {
        height: 110px;
        width: 110px;
        margin-bottom: 40px;
    }

    .card__name2 {
       font-size: 1.15rem;
    }

    .section-two__title:after {
        bottom: -25px;
    }

    .section-two__title {
        margin: 55px 0px 25px 0px;
    }
    
    .card__discription2 {
       font-size: 0.9rem;
    }
}


/* ==== section three ==== */
/* ==== section three ==== */
/* ==== section three ==== */

.section-three {
    min-height: 104.5vh;
    background-color: rgb(231, 242, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}

.section-three__title {
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
}

.section-three__title:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid black;
    width: 70px;
    bottom: -10px;
    left: calc(50% - 35px);
}

.section-three__discription {
    font-size: 1.2rem;
    text-align: center;
}

.section-three__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section-three__item {
    margin: 50px;
} 

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__name {
    text-transform: uppercase;
    color: rgb(27, 27, 27);
    margin-top: 20px;
}

.card__title {
    color: rgb(0, 180, 225);
}

.card__discription {
    margin: 10px 0px;
    text-align: center;
}

.card__link-list {
    display: flex;
    justify-content: space-between;
}

.card__link-item {
    background-color: rgb(191, 208, 220);
    padding: 5px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.section-three a {
    text-decoration:none;
}

.vk:hover {
    color: #fff;
    background-color: white;
}

.card__img {
    height: 170px;
    width: 170px;
    border-radius: 50%;    
}


@media screen and (max-width: 680px) {
    .section-three {
        min-height: 245.5vh;
    }

    .section-three__list {
        grid-template-columns: 1fr;
    }

    .section-three__title {
        margin-top: 60px;
        margin-bottom: 40px;
        font-size: 2rem;
    }

    .section-three__title:after {
        border-bottom: 4px solid rgb(213, 227, 237);
        bottom: -30px;
    }
    
    .section-three__discription {
        font-size: 1rem;
        width: 500px;
        line-height: 1.5rem;
        margin-bottom: 25px;
    }
      
    .section-three__item {
        margin: 20px 50px 0px 50px;
    } 
      
    .card__name {
        margin-top: 45px;
        margin-bottom: 10px;
    }
    
    .card__title {
        font-size: 0.9rem;
    }
    
    .card__discription {
        margin: 35px 0px;
    }
      
    .card__link-item {
        width: 20px;
        height: 20px;
        margin: 5px;
    }
    
}




/* ==== section four ==== */
/* ==== section four ==== */
/* ==== section four ==== */

.section-four {
    min-height: 60vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}

.section-four__title {
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    font-size: 2.3rem;
}

.section-four__discription {
    max-width: 600px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}

.section-four__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}


.card__name4 {
    text-transform: uppercase;
    color: black
}


.section-four__title:after {
    content: '';
    position: absolute;
    border-bottom: 5px solid rgb(223, 232, 235);
    width: 70px;
    bottom: -10px;
    left: calc(50% - 35px);
}


@media screen and (max-width: 680px) {
    .section-four {
        min-height: 93vh;
    }

    .section-four__list {
        grid-template-columns: 1fr;
        margin-top: 20px;
    }

    .section-four__title {
        margin-bottom: 30px;
        font-size: 2rem;
        margin-top: 0px;
    }
    
    .section-four__discription {
        max-width: 480px;
        font-size: 0.9rem;
        margin-top: 20px;
        line-height: 1.5rem;
    }
    
    .section-four__title:after {
        border-bottom: 3px solid rgb(223, 232, 235);
        width: 75px;
        bottom: -25px;
    }
    
    .card__name4 {
       font-size: 1.2rem;
    }

    .card{
        margin-top: 65px;
    }
}




/* ==== section five ==== */
/* ==== section five ==== */
/* ==== section five ==== */

.section-five {
    min-height: 120vh;
    background-color: rgb(255, 220, 152);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.section-five__title {
    text-transform: uppercase;
    margin-top: 120px;
    margin-bottom: 20px;
    position: relative;
}

.section-five__title:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid rgb(229, 194, 126);
    width: 70px;
    bottom: -10px;
    left: calc(50% - 35px);
}


.navbar__item_active-5 {
    background-color: rgb(250, 258, 250);
}

.card__img-5 {
    height: 255px;
    width: 300px;
}

.card__name-5 {
    text-transform: uppercase;
    color: rgb(27, 27, 27);
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
.navbar__list-5 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.section-five__itemcard{
    display: table-cell;
    padding: 15px 75px 15px 75px;
}

.section-five__list-1 {
    display: table-row;
    justify-content: space-between;
}

.navbar__item-5 {
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(235, 200, 132);
}

.section-five .btn-5 {
    padding: 15px 50px;
    background-color: rgb(91, 189, 165);
    color: #fff;
    border: 1px solid rgb(52, 163,112);
    margin-top: 30px;
    margin-bottom: 20px;
}


@media screen and (max-width: 680px) {
    .section-five {
        min-height: 260vh;
    }
    
    .section-five__title {
        margin-top: 105px;
        margin-bottom: 45px;
        font-size: 2.1rem;
    }
    
    .section-five__discription {
        width: 430px;
        text-align: center;
        line-height: 1.5rem;
    }

    .section-five__title:after {
        border-bottom: 3px solid rgb(235, 200, 132);
        width: 75px;
        bottom: -20px;
        left: calc(50% - 35px);
    }
      
    .card__img-5 {
        height: 300px;
        width: 400px;
    }
    
    .card__name-5 {
        margin-top: 10px;
    }
    .navbar__list-5 {
        margin-top: 40px;
        margin-bottom: 45px;
    }
    .section-five__itemcard{
        padding: 15px 75px 15px 75px;
    }
    
    .section-five__list-1 {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
    }
    
    .navbar__item-5 {
        padding: 14px 20px;
        margin: 0px 3px;
        border-radius: 10px;
        font-size: 0.8rem;
    }
    
    .section-five .btn-5 {
        padding: 20px 160px;
        margin-top: 80px;
    }
}



/* ==== section six ==== */
/* ==== section six ==== */
/* ==== section six ==== */


.section-six {
    min-height: 104.5vh;
    background-color: rgb(215, 70, 129);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.section-six__title {
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 50px;
    position: relative;
    font-size: 2.2rem;
    font-family: 'PT Sans', sans-serif;
    width: 445px;
    text-align: center;
}

.section-six__title:after {
    content: '';
    position: absolute;
    border-bottom: 3px solid rgb(197, 62, 117);
    width: 80px;
    bottom: -20px;
    left: calc(50% - 35px);
}

.section-six__discription {
    font-size: 0.9rem;
    text-align: center;
}

.section-six__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-six__item {
    margin: 76px 20px 77px 99px;
} 

.carda {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.carda__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
    line-height: 1.5rem;
}

.carda__name {
    text-transform: uppercase;
    margin-top: 0px;
    color: white;
}

.carda__title {
    color: gold;
}

.carda__discription {
    margin: 10px 0px;
    text-align: left;
}

.carda__link-list {
    display: flex;
    justify-content: space-between;
}

.carda__link-item {
    background-color: rgb(195, 195, 195);
    padding: 5px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.carda__img {
    height: 90px;
    width: 90px;
    border-radius: 50%;    
}


@media screen and (max-width: 680px) {
    .section-six {
        min-height: 190vh;
    }
    
    .section-six__title {
        margin-top: 25px;
    }
    
    .section-six__title:after {
        width: 70px;
    }
    
    .section-six__discription {
        font-size: 0.9rem;
        text-align: center;
    }
    
    .section-six__list {
        grid-template-columns: 1fr;
    }
    
    .section-six__item {
        margin: 50px 20px 0px 20px;
    } 
    
    .carda {
        flex-direction: column;
        align-items: center;
    }
          
    .carda__img {
        margin-bottom: 15px;    
    }
    
}



/* ==== section seven ==== */
/* ==== section seven ==== */
/* ==== section seven ==== */


.section-seven {
    display: flex;
    flex-direction: column;
    height: 107vh;
    background-color: rgb(60, 84, 154);
    justify-content: space-between;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

.section-seven_title{
    text-transform: uppercase;
    position: relative;
    font-size: 2.2rem;
    font-family: 'PT Sans', sans-serif;
    width: 445px;
    text-align: center;
    margin-top: 100px;
}

.section-seven_title:after{
    content: '';
    position: absolute;
    border-bottom: 4px solid rgb(39, 58, 114);
    width: 80px;
    bottom: -20px;
    left: calc(50% - 35px);
}

.section-seven_discription {
    text-align: center;
    margin-top: -15px;
}

.section-seven_perviy {
    display: flex;
    flex-direction: row;
    width: 740px;
    justify-content: space-between;
}

.section-seven_contacts{
    background-color: rgb(39, 58, 114);
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.section-seven_message {
    background-color: rgb(39, 58, 114);
    text-align: start;
    width: 740px;
    height: 170px;
    margin-top: -35px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.button7{
    width: 255px;
    height: 55px;
    background-color: rgb(48, 186, 232);
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(44, 158, 199);
    font-size: 1rem;
    margin-bottom: 35px;
}

.footer7{
    background-color: rgb(52, 75, 142);
    display: flex;
    justify-content: space-around; 
    align-items: center;
    height: 130px;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
}

.footer7_item{
    margin: 0px 60px;
    color: #fff;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3rem;
}

.p_mes{margin: 15px 15px;}
.p_cont{margin-left: 15px;}