* {
    margin: 0;
    padding: 0;
}

.section-one {
    height: 79.5vh;
    background-color: rgb(134, 80, 156);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    height: 147px;
    position: absolute;
    width: 100%;
}

.navbar__item {
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar__item:hover {
    background-color: rgb(131, 0, 131);
}

.navbar__logo {
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}

.section-one article {
    height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.section-one h2 {
    width: 930px;
    text-align: center;
    margin-bottom: 60px;
    font-size: 2.6rem;
}

.section-one .btn {
    padding: 25px 107px;
    background-color: rgb(235, 125, 74);
    color: #fff;
    border: 3px solid rgb(212, 114, 78);
    border-radius: 4%;
}


/* ==== section two ==== */
/* ==== section two ==== */
/* ==== section two ==== */


.section-two {
    min-height: 88vh;
    background-color: rgb(23, 193, 164);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

.section-two__title {
    text-transform: uppercase;
    margin: 105px 0px 30px 0px;
    position: relative;
    font-size: 2.2rem;
}

.section-two__discription {
    max-width: 600px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}

.section-two__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.section-two__item {
    margin: 50px;
} 

.card2__name2 {
    text-transform: uppercase;
    color: white;
}

.card2__discription2 {
    margin: 25px 0px;
    text-align: center;
}

.section-two__title:after {
    content: '';
    position: absolute;
    border-bottom: 5px solid rgb(17, 168, 142);
    width: 70px;
    bottom: -10px;
    left: calc(50% - 35px);
}

.images {
    height: 120px;
    width: 120px;
    margin-bottom: 50px;
}

/* ==== section three ==== */
/* ==== section three ==== */
/* ==== section three ==== */

.section-three {
    min-height: 104.5vh;
    background-color: rgb(212, 212, 212);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}

.section-three__title {
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
}

.section-three__title:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid black;
    width: 70px;
    bottom: -10px;
    left: calc(50% - 35px);
}

.section-three__discription {
    font-size: 1.2rem;
    text-align: center;
}

.section-three__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section-three__item {
    margin: 50px;
} 

.card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card3__name {
    text-transform: uppercase;
    color: rgb(27, 27, 27);
    margin-top: 20px;
}

.card3__title {
    color: rgb(0, 180, 225);
}

.card3__discription {
    margin: 10px 0px;
    text-align: center;
}

.card3__link-list {
    display: flex;
    justify-content: space-between;
}

.card3__link-item {
    background-color: rgb(195, 195, 195);
    padding: 5px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.section-three a {
    text-decoration:none;
}

.vk:hover {
    color: #fff;
    background-color: rgb(65, 65, 230);
}

.card__img {
    height: 170px;
    width: 170px;
    border-radius: 50%;    
}
/* ==== section four ==== */
/* ==== section four ==== */
/* ==== section four ==== */

.section-four {
    min-height: 60vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}

.section-four__title {
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    font-size: 2.3rem;
}

.section-four__discription {
    max-width: 600px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}

.section-four__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}


.card__name4 {
    text-transform: uppercase;
    color: black
}


.section-four__title:after {
    content: '';
    position: absolute;
    border-bottom: 5px solid rgb(226, 233, 236);
    width: 70px;
    bottom: -10px;
    left: calc(50% - 35px);
}



/* ==== section five ==== */
/* ==== section five ==== */
/* ==== section five ==== */

.section-five {
    min-height: 120vh;
    background-color: rgb(250, 221, 136);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}

.section-five__title {
    text-transform: uppercase;
    margin-top: 120px;
    margin-bottom: 20px;
    position: relative;
}

.section-five__title:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid rgb(222, 190, 35);
    width: 70px;
    bottom: -10px;
    left: calc(50% - 35px);
}


.navbar__item_active-5 {
    background-color: rgb(250, 258, 250);
}

.card__img-5 {
    height: 255px;
    width: 300px;
}

.card__name-5 {
    text-transform: uppercase;
    color: rgb(27, 27, 27);
    text-align: center;
}
.navbar__list-5 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.section-five__itemcard{
    display: table-cell;
    padding: 15px 75px 15px 75px;
}

.section-five__list-1 {
    display: table-row;
    justify-content: space-between;
}

.navbar__item-5 {
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(222, 190, 35);
}

.section-five .btn-5 {
    padding: 15px 50px;
    background-color: rgb(91, 189, 165);
    color: #fff;
    border: 1px solid rgb(52, 163,112);
    margin-top: 30px;
}


/* ==== section six ==== */
/* ==== section six ==== */
/* ==== section six ==== */


.section-six {
    min-height: 104.5vh;
    background-color: rgb(215, 70, 129);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.section-six__title {
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 50px;
    position: relative;
    font-size: 2.2rem;
}

.section-six__title:after {
    content: '';
    position: absolute;
    border-bottom: 3px solid rgb(197, 62, 117);
    width: 80px;
    bottom: -20px;
    left: calc(50% - 35px);
}

.section-six__discription {
    font-size: 0.9rem;
    text-align: center;
}

.section-six__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-six__item {
    margin: 76px 20px 77px 99px;
} 

.card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.card__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
    line-height: 1.5rem;
}

.card__name {
    text-transform: uppercase;
    margin-top: 11px;
    color: white;
}

.card__title {
    color: gold;
    font-size: 0.9rem;
}

.card__discription {
    margin: 10px 0px;
    text-align: left;
}

.card__link-list {
    display: flex;
    justify-content: space-between;
}

.card__link-item {
    background-color: rgb(195, 195, 195);
    padding: 5px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.card__img {
    height: 90px;
    width: 90px;
    border-radius: 50%;    
}